<%- include("partials/header") -%>
<div class="wrapper">
    <div class="container">
        <h1>HOME</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis minima voluptatum quam amet debitis deleniti hic culpa, optio rerum officia voluptatibus magni veniam natus. Excepturi fuga voluptatum sunt consequatur itaque? Dolores temporibus dolorum fugiat deleniti consequuntur at alias nemo eum porro facilis minima placeat natus, magnam fugit omnis rem sapiente, amet ipsum quisquam! Molestias cum velit, nam eos aut nisi voluptates possimus ratione, optio totam, corporis accusamus. Quod debitis cupiditate doloremque voluptate eaque ad eligendi quas ut ea corporis minima, ipsum sed esse, ipsa rerum adipisci nisi numquam iste molestiae illo in id reiciendis fugit blanditiis. Veniam dicta officia, et, possimus repellendus recusandae quo optio, iure rem laboriosam assumenda eos consequuntur totam! Cupiditate neque nulla voluptates eum obcaecati, ducimus autem? Iure doloremque voluptatem quis sit. Placeat quam facilis odio eaque illo perspiciatis deleniti, totam nisi iusto doloremque cum reiciendis dicta repellat praesentium ab dolor excepturi voluptate exercitationem modi veritatis laudantium? Nobis sed veniam possimus autem obcaecati unde! Eveniet dolor nulla molestiae nisi corporis. Quasi, perferendis mollitia nostrum illo architecto corporis eveniet.
        </p>
    </div>
    <% homeContent.forEach(item => { %>
    <div class="container">
        <h1><%= item.BlogTitle %></h1>
        <%var trimstr = item.BlogBody.substring(0,200)+"..."%>
        <p>
            <%= trimstr %>
            <a class="readMore" href="/<%= item.BlogTitle %>">Read More.</a>
        </p>
    </div>
    <% })%>

</div>
<%- include("partials/footer") -%>