<%- include("partials/header") -%>
<div class="wrapper">
    <div class="home-page-img">
        <img src="/img-assets/workshop.png" alt="">
        <h1>Welcome to Daily Journal.</h1>
    </div>
    <% homeContent.forEach(item => { %>
    <div class="posts">
        <div class="snippts-heading">
            <h1><%= item.title %></h1>
            <% var batch = item.badge.split(",") %>
            <% batch.forEach(bt => { %>
                <small class="badges"><%=bt%></small>
            <% }) %>
        </div>
        <%var trimstr = item.blogpost.substring(0,150)+"..."%>
        <p><%= trimstr %><a class="readMore" href="/page/<%= item._id %>">Read More.</a></p>
    </div>
    <% })%>
    <div class="mail-subscription">
        <div class="mail-area">
            <input type="text" name="mail-sub" id="mail-sub" placeholder="Enter your Email!">
            <button class="sent-btn" type="submit"><i class="fad fa-paper-plane"></i></button>
        </div>
        <i class="fad fa-envelope"></i>
    </div>

</div>
<%- include("partials/footer") -%>