<%- include("partials/header") -%>
<div class="wrapper">
    <div class="container">
        <h1><%= title %></h1>
        <% var batch = Badge.split(",") %>
            <% batch.forEach(bt => { %>
                <small class="badges" ><%=bt%></small>
            <% }) %>
        <p><%= content %></p>
    </div>
</div>
<%- include("partials/footer") -%>